[General]
arch=armhf
aptsources=
bootstrap=Raspbian Foundation
noauth=true

[Raspbian]
packages=libxkbcommon-dev libfontconfig1-dev libmtdev-dev libudev-dev libinput-dev libts-dev flex freetds-dev libasound2-dev libaudio-dev libdbus-1-dev libfreetype6-dev libglib2.0-dev libice-dev libicu-dev libjpeg-dev libmng-dev libmysqlclient-dev libpam0g-dev libpng-dev libpq-dev libreadline-dev libsm-dev libsqlite0-dev libsqlite3-dev libssl-dev libtiff-dev unixodbc-dev zlib1g-dev
source=http://mirrordirector.raspbian.org/raspbian
suite=jessie

[Foundation]
packages=libraspberrypi-dev
source=http://archive.raspberrypi.org/debian
suite=jessie
